.waterItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--main-white-color);
  border-radius: 15px;
  padding: 25px 26px;
  min-width: 192px;
  height: 86px;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(158, 27, 27, 0.1);
}

.waterGlass {
  width: 44px;
  height: 45px;
  color: #9be1a0;
}

.editIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: transparent;
}

.deleteIcon {
  width: 16px;
  height: 16px;
  display: inline-block;

  stroke-width: 0;
  stroke: currentColor;
  fill: transparent;
}

.info {
  display: flex;
  flex-direction: column;
}
.amount {
  font-weight: var(--font-weight-bold);
  padding-bottom: 10px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
