.waterItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--main-white-color);
  border-radius: 15px;
  padding: 25px 26px;
  min-width: 192px;
  height: 86px;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(158, 27, 27, 0.1);
}

.info{
  display: flex;
  flex-direction: column;

}
.amount {
  font-weight: var(--font-weight-bold);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
