@font-face {
  font-family: "Poppins-bold";
  src: url("../../../fonts/Poppinsbold.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../fonts/Poppinsregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 198px;
  height: 70px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  padding: 12px;
  margin: auto;
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textH3 {
  font-family: "Poppins-bold", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.scaleContainer {
  height: fit-content;
}

.emptyScale {
  width: 100%;
  background-color: #f0eff4;
  border-radius: 3px;
  position: relative;
  height: 6px;
}

.progressScale {
  background-color: #9be1a0;
  height: 6px;
  border-radius: 3px;
}

.scaleCircle {
  width: 12px;
  background-color: white;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #9be1a0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.3s ease;
}

.scaleText {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: rgba(47, 47, 47, 0.6);
  font-weight: normal;
  position: absolute;
  top: 16px;
}

@media (min-width: 768px) {
  .container {
    width: 295px;
    height: 106px;
    padding: 20px;
    margin-bottom: 26px;
    gap: 14px;
  }

  .textH3 {
    font-size: 15px;
  }
  .scaleText {
    font-size: 12px;
    top: 24px;
  }

  .emptyScale {
    border-radius: 9px;
    height: 8px;
  }

  .progressScale {
    background-color: #9be1a0;
    height: 8px;
    border-radius: 9px;
  }
}

@media (min-width: 1440px) {
  .container {
    margin: 0 auto;
    position: absolute;
    top: 450px;
    left: 188px;
  }
}
