.userBarPopover {
    display: flex;

    position: absolute;
    bottom: -76px;
    flex-direction: column;
    background-color: var(--main-white-color);
    border-radius: 15px;
    padding: 14px 20px;
    gap: 8px;
    width: 100%;
    height: 72px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
}

.logBut,
.setBut {
    padding: 0;
    gap: 8px;
    cursor: pointer;
    align-items: center;
    border: none;
    background-color: transparent;
    display: flex;

    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    font-size: 14px;
    line-height: 130%;
}

.setBut {
    color: var(--grey-color);
}

.logBut {
    color: var(--grey-color);
    opacity: 0.4;
}

.logBut:hover {
    opacity: 1;
}

.svgUseSet {
    stroke: var(--grey-color);
    fill: none;
    width: 100%;
    height: 100%;
}

.svgUseLog {
    stroke: var(--grey-color);
    fill: none;
    width: 100%;
    height: 100%;
}

.svg {
    width: 16px;
    height: 16px;
}

@media (min-width: 768px) {
    .userBarPopover {
        max-width: 157px;
        height: 82px;
        bottom: -90px;
    }

    .logBut,
    .setBut {
        font-size: 15px;
        line-height: 150%;
    }
}