.container {
  margin: 0 auto;
  padding: 16px;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 126px;
  width: 100%;
  border-radius: 30px;
  background-color: var(--background-color);
  padding: 16px;
  padding-top: 24px;
}
.advantagesSection {
  display: none;
}
@media (max-width: 374px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 375px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    padding: 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 32px;
    /* width: 672px; */
    padding: 32px;
    width: 100%;
  }
  .box {
    gap: 0;
  }
  .advantagesSection {
    display: flex;
  }
  .signUpWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
  }

  .box {
    width: 672px;
  }
}
