.logoTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  color: var(--grey-color);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .logoTitle {
    font-size: 24px;
  }
}
