.container {
    margin-top: 24px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 18px;
    width: 100%;
    height: 100%;
    /* max-width: 400px;
    width: 100%; */
    margin: auto;
    /* place-items: center; */
}

.day {
    display: grid;
    place-items: center;
    border: none;
    border-radius: 30px;
    width: 28px;
    height: 28px;
    font-weight: 700;
    font-size: 14px;
    background: rgba(50, 63, 71, 0.2);
    cursor: pointer;
    /* transition: 0.3s; */
}

.day.partial {
    background: lightblue;
}

.day.full {
    background: white;
}

.day:hover {
    opacity: 0.8;
}

.water-percent {
    font-size: 12px;
    margin-top: 5px;
}

/* @media (min-width: 375px) {

} */

@media (min-width: 768px) {
    .container {
        height: 305px;
    }

    .grid {
        grid-template-columns: repeat(8, 1fr);
        gap: 48px;
    }

    .day {
        width: 38px;
        height: 38px;
        font-size: 16px;
        line-height: 150%;
    }
}

@media (min-width: 1440px) {
    .grid {
        gap: 43px;
    }
}