.container {
    margin-top: 24px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    column-gap: 18px;
    row-gap: 15px;
    gap: 18px;
    width: 100%;
    height: 100%;
    margin: auto;
}

@media (min-width: 375px) {
    .grid {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media (min-width: 768px) {
    .container {
        height: 305px;
    }

    .grid {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 48px;
    }

    .day {
        width: 38px;
        height: 38px;
        font-size: 16px;
        line-height: 150%;
    }
}

@media (min-width: 1440px) {
    .grid {
        column-gap: 43px;
    }
}