.advantagesSection {
  margin: 0 auto;
  width: 100%;
  max-width: 343px;
  min-height: 353px;
  background-image: image-set(
    url("../img/main-mob.jpg") 1x,
    url("../img/main-mob@2x.jpg") 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.infoBox {
  width: 160px;
  height: 48px;
  position: absolute;
  bottom: 20%;
  left: 5%; 
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 14px 10px;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
}

.infoText {
  width: 86px;
  height: 28px;
  color: #323F47;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16em;
  letter-spacing: -0.01em;
  /* display: flex;
  align-items: center; */
  gap: 4px;
}
.highlight {
  color: #9BE1A0;
}

.userCount {
  font-weight: bold;
  color: #323f47; 
}

.loading {
  color: #ff9800;
}

.userImages {
  display: flex;
  position: relative;
}

.userImages img {
  width: 26.4px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  z-index: 3;
}

.userImages img:nth-child(2) {
  margin-left: -8px; 
  z-index: 2;
}

.userImages img:nth-child(3) {
  margin-left: -8px; 
  z-index: 1;
}

.stats {
  position: absolute;
  bottom: 3%;
  left: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  flex-wrap: wrap;
  color: #323F47;
  text-align: center;
}

.btn {
  padding: 9px 12px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  text-align: center;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.57em; 
  letter-spacing: -0.08px;
}

.habitDrive {
  background: #323f47;
  color: #fff;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #9be1a0;
}

.viewStats {
  background: #9be1a0;
  color: #323f47;
}

.personalRate {
  background: #fff;
  color: #323f47;
  border-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 9px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-align: center;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.57em; 
  letter-spacing: -0.08px;
}

/* @media (max-width: 374px) {
  .advantagesSection {
    padding: 16px;
  }
  .infoBox {
    width: auto;
    height: auto;
    padding: 10px;
  }
  .btn {
    font-size: 8px;
    padding: 6px 10px;
  }
} */

@media (min-width: 768px) {
  .advantagesSection {
    max-width: 704px;
    min-height: 446px;
    padding: 40px;
    background-image: image-set(
      url("/public/img/main-tablet.jpg") 1x,
      url("/public/img/main-tablet@2x.jpg") 2x
    );
  }
  .stats {
    left: 50%;
    bottom: 32px; 
    gap: 10px;
  } 

  .infoBox {
    width: 237px;
    height: 67px;
    bottom: 90px;
    left: 32px;
    display: inline-flex;
    padding: 10px 20px;
    align-items: center;
    
  }

  .infoText{
    font-size: 10px;
    line-height: 1.49em;
  }

  .userImages img {
    width: 47px;
    height: 47px;
  }

  .userImages img:nth-child(2) {
    margin-left: -20px; 
  }
  
  .userImages img:nth-child(3) {
    margin-left: -20px; 
  }
  .btn {
    padding: 11px 16px;
    font-size: 12px;
    line-height: 100%; 
    letter-spacing: -0.01px;
  }

  .personalRate {
    padding: 11px 16px;
    font-size: 12px;
    line-height: 100%; 
    letter-spacing: -0.01px;
  }

}
@media (min-width: 1440px) {
  .advantagesSection {
    min-width: 672px;
    min-height: 736px;
    background-image: image-set(
      url("/public/img/main-desktop.jpg") 1x,
      url("/public/img/main-desktop@2x.jpg") 2x
    );
  }
}
