@font-face {
  font-family: "Poppins-bold";
  src: url("../../../fonts/Poppinsbold.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../fonts/Poppinsregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.sectionWrapper {
  padding: 16px;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.wrapper {
  border-radius: 30px;
  background-color: #9be1a0;
  display: flex;
  flex-direction: column;
  padding: 24px 16px 32px;
  background-image: url("/img/bottle-mob.png"); /* Абсолютний шлях */
  background-size: auto;
  background-position: center top 50px;
  background-repeat: no-repeat;
  height: auto;
}

.logo {
  font-family: "Poppins-bold", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 78px;
}

@media (min-width: 375px) {
  .sectionWrapper {
    max-width: 375px;
  }

  .wrapper {
    padding: 24px 20px 32px;
    background-position: center top 60px;
  }
}

@media (min-width: 768px) {
  .sectionWrapper {
    max-width: 768px;
  }
  .wrapper {
    padding: 32px 32px 64px;
    background-image: url("/public/img/bottle-tablet.png");
    background-position: center top 70px;
  }

  .logo {
    font-size: 24px;
    margin-bottom: 101px;
  }
}

/* @media (min-width: 1440px) {
    .sectionWrapper {
        max-width: 1440px;
    }

    .wrapper {
        padding: ;

    }
} */
