@font-face {
  font-family: "Poppins-bold";
  src: url("../../../fonts/Poppinsbold.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../fonts/Poppinsregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.sectionWrapper {
  padding-bottom: 16px;
}

.wrapper {
  border-radius: 30px;
  background-color: #9be1a0;
  display: flex;
  flex-direction: column;
  padding: 24px 16px 32px;
  background-image: url("/img/bottle-mob.png"); /* Абсолютний шлях */
  background-size: 262px 335px;
  background-position: center top 50px;
  background-repeat: no-repeat;
  height: auto;
  margin: 0 auto;
}

.logo {
  font-family: "Poppins-bold", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 78px;
}

@media (min-width: 375px) {
  .wrapper {
    padding: 24px 20px 32px;
    background-position: center top 50px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    padding: 32px 32px 64px;
    background-image: url("/public/img/bottle-tablet.png");
    background-size: 374px 477px;
    background-position: center top 69px;
  }

  .logo {
    font-size: 24px;
    margin-bottom: 101px;
  }
}

@media (min-width: 1440px) {
  .sectionWrapper {
    padding-bottom: 0;
  }
  .wrapper {
    width: 672px;
    height: 736px;
    background-image: url("/public/img/bottle-desktop.png");
    background-size: 472px 604px;
    background-position: center top 92px;
    position: relative;
  }
  .logo {
    margin-bottom: 0;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .wrapper {
    background-image: url("/img/bottle-mob@2x.png");
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi) {
  .wrapper {
    background-image: url("/img/bottle-tablet@2x.png");
  }
}

@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1440px) and (min-resolution: 192dpi) {
  .wrapper {
    background-image: url("/img/bottle-desktop@2x.png");
  }
}
