.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* padding: 10px; */
}

.headerMonth {
    margin-right: auto;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
}

.paginationBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    min-width: 120px;
}

.arrow {
    flex-shrink: 0;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    transition: 0.3s;
}

.currentMonth {
    white-space: nowrap;
    text-align: center;
    flex-grow: 1;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
}

.chart {
    margin-left: 10px;
}

.arrow:hover {
    color: #9be1a0;
}

.icon {
    width: 18px;
    height: 18px;
    stroke: var(--main-text-color);
    fill: none;
    transition: 0.3s;
}

.icon_chart {
    width: 20px;
    height: 20px;
}

/* @media (min-width: 375px) {

} */

@media (min-width: 768px) {
    .headerMonth {
        font-size: 28px;
        line-height: 114%;
    }

    .currentMonth {
        font-size: 16px;
        line-height: 150%;
    }

    .icon_chart {
        width: 24px;
        height: 24px;
    }
}

@media (min-width: 1440px) {}