.monthInfo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}

@media (min-width: 375px) {
    .monthInfo {
        max-width: 303px;
    }
}

@media (min-width: 768px) {
    .monthInfo {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 24px;
        max-width: 640px;
        height: 361px;
    }
}

@media (min-width: 1440px) {
    .monthInfo {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 24px;
        max-width: 608px;
    }
}