.button {
  font-family: var(--font-family);
  margin-top: 32px;
  font-weight: var(--font-weight-bold);
  border: none;
  width: 100%;
  color: var(--grey-color);
  border-radius: 30px;
  height: 50px;
  background: #fff;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
  margin-bottom: 16px;
}
.icon {
  font-size: 18px;
  margin-right: 10px;
}
