.dailyInfo {
  background: var(--background-color);
  margin-top: 49px;
   
  width: 100%;
  height: 174px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0eff4;
  height: 32px;
  margin-bottom: 24px;
}

.bold {
  font-weight: var(--font-weight-bold);
}

.profile {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--grey-color);
  color: var(--main-white-color);
  padding: 8px 16px;
  border-radius: 20px;
}

.profile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.today{
  font-family: Poppins;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1%;
}

