.trackerPageWrapper {
  padding: 16px;
  width: 100%;
  max-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
}

@media (min-width: 375px) {
  .trackerPageWrapper {
    max-width: 375px;
  }
}

@media (min-width: 768px) {
  .trackerPageWrapper {
    max-width: 768px;
    padding: 32px;
  }
}

@media (min-width: 1440px) {
  .trackerPageWrapper {
    max-width: 1440px;
    flex-direction: row;
    gap: 32px;
    padding: 32px;
  }
}
