.homePage {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 1440px) {
  .homePage {
    flex-direction: row;
    gap: 32px;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    /* min-height: 100vh; */
  }
  .HomePageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}
