.container {
  display: flex;
  gap: 32px;
  width: 100%;
}
.box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 126px;
  width: 100%;
  border-radius: 30px;
  background-color: var(--background-color);

  padding: 16px;
  padding-top: 24px;
}
.advantagesSection {
  display: none;
}
@media (max-width: 374px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 375px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    width: 704px;
    padding: 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 672px;
    padding: 32px;
    gap: 0;
  }
  .advantagesSection {
    display: block;
  }
}
