.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--accent-color);
  font-family: var(--font-family);
}

.bottle {
  position: absolute;
  left: 5%;
  width: 150px;
  height: auto;
  animation: float 3s ease-in-out infinite;
}

.content {
  text-align: center;
  color: var(--main-white-color);
}

.icon {
  font-size: 6rem;
  animation: pulse 2s infinite;
}

.heading {
  font-size: 6rem;
  font-weight: bold;
  margin-top: 1rem;
}

.textLarge {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.textMedium {
  font-size: 1rem;
  margin-top: 0.25rem;
}

.button {
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  background-color: white;
  color: #1e40af; /* blue-600 */
  font-weight: 600;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e0f2fe; /* blue-100 */
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
